@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }
}


@media only screen and (min-width: 601px) {
    body {
        font-size: 80px;
    }

    h1 {
        font-size: 80px;
    }
}