body {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

#title {
    display: flexbox;
    justify-content: center;
}

#title h1 {
    text-align: center;
}

#cards {
    display: grid;
    background-color: lightblue;
    border-radius: 15px;
    width: 85%;
    height: 1000px;
    margin: auto;
    grid-template: 1fr 1fr 1fr / 3fr 2fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
    place-items: center;
}

#cards div {
    margin: auto;
    display: block;
    background-color: whitesmoke;
    height:95%;
    width: 95%;
    border-radius: 15px;
    box-shadow: black 1px 1px 15px;
}

#cards div:first-child {
}